.profile__btn {
    margin-left: auto;
    right: 0;
    padding: 0;
    background-image: url(../../../images/addButton-big.svg);
    background-repeat: no-repeat;
    background-position: center;
    align-self: center;
    width: 150px;
    height: 50px;
    background-color: #000;
    border: none;
    transition: opacity .2s linear;
}

.profile__btn:hover {
    cursor: pointer;
    opacity: .6;
}

@media (max-width: 989px) {

    .profile__btn {
        background-image: url(../../../images/addButton.svg);
        width: 100%;
    }

}