.profile__container {
    display: flex;
    justify-content: center;
    gap: 18px;
}

@media (max-width: 989px) {
    
    .profile__container {
        gap: 12px;
    }

}

@media (max-width: 671px) {
    
    .profile__container {
        gap: 10px;  
    }

}