.elements__item {
    overflow: hidden;
    background-color: #fff;
    max-width: 282px;
    margin: 0;
    padding: 0;
    border-radius: 10px;
}

@media (max-width: 797px) {

    .elements__item {
        max-width: 354px;
    }

}

@media (max-width: 528px) {

    .elements__item {
        max-width: 100%;
    }

}